/* li {
    display: inline;
}
li:after {
    content: ", "
} */

span {
    text-align: center;
    display: block;
    border: 1px solid black;
    margin: 25px 25px;
}

.n-child section:nth-of-type(even){
    border: 1px solid black;
}

.n-type section:nth-of-type(odd){
    color: blue;
}

.first-of-type aside:first-of-type {
    background-color: lime;
}
.first-of-type section:first-of-type {
    background-color: purple;
}

.three section {
    background-color: orange;
}

.three section:first-child {
    background-color: cornflowerblue;
}

.three section:last-child {
    background-color: darkslateblue;
}

article:before {
    content: "Article parent element";

}
 
article {
    border: 2px grey dashed;
    background-color: coral;

}


/*Second Part of the Practice*/

nav {
    display: flex;

}

ul {

}

ul li:hover {
    background-color: rgb(95, 9, 84);
    color: olivedrab;
}

ul li:active {
    font-size: 2em;;
}